body {
  background-color: #000;
  padding-top: 70px;
}

.bg-dark {
  background-color: #000 !important;
}

.navbar-brand {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #fff !important;
}

.navbar-brand:hover {
  /*color: rgb(133, 168, 161) !important;*/
  color: #bfbfbf !important;
}

.nav-link {
  font-family: "Pangolin", cursive;
  font-weight: 600 !important;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}

.main-font-1 {
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  font-size: large;
}

.main-font-2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-weight: bold; */
  font-size: large;
}

.main-font-3 {
  font-family: cursive;
  /* font-weight: bold; */
  font-size: large;
}
#my-twitter:hover {
  background-color: #1a91da;
}
#my-insta:hover {
  background-color: #e00094;
}
#my-telegram:hover {
  background-color: #1b9acc;
}
